<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <!-- too dump to actually link to css file :/ -->
    <style>
        body {
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>{{ .Title }}</h1>
    <br>Author: {{ .Author }}

    <h2>TODO:</h2>
    <ul>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/this_week">This week</a></li>
        <li><a href="/this_week">Last week</a></li>
    </ul>
</body>
</html>